<mat-nav-list>
  <mat-list-item class="menu" routerLinkActive="activeLink">
    <a routerLink="/dashboard">
      <button mat-button>
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </button>
    </a>
  </mat-list-item>

  <mat-list-item class="menu" routerLinkActive="activeLink">
    <a routerLink="/medic">
      <button mat-button>
        <mat-icon>personal_injury</mat-icon>
        <span>Medics</span>
      </button>
    </a>
  </mat-list-item>

  <mat-list-item class="menu" routerLinkActive="activeLink">
    <a routerLink="/driver">
      <button mat-button>
        <mat-icon>directions_bus</mat-icon>
        <span>Drivers</span>
      </button>
    </a>
  </mat-list-item>

  <mat-list-item class="menu" routerLinkActive="activeLink">
    <a routerLink="/history">
      <button mat-button>
        <mat-icon>medical_information</mat-icon>
        <span>Histories</span>
      </button>
    </a>
  </mat-list-item>

  <mat-list-item class="menu" routerLinkActive="activeLink">
    <a routerLink="/user">
      <button mat-button>
        <mat-icon>face</mat-icon>
        <span>Users</span>
      </button>
    </a>
  </mat-list-item>
</mat-nav-list>
