.modal-user {
  width: 600px;
}

.modal-user [mat-dialog-content] {
  padding: 24px;
  margin: 0;
}

.modal-user mat-dialog-container {
  padding: 0;
}

@media screen and (max-width: 500px) {
  .modal-user {
    width: 400px;
  }
}
