<form class="row p-3">
  <div class="col-3">
    <input
      type="number"
      class="form-control"
      placeholder="Day of week"
      (input)="getDayOfWeek($event)"
    />
  </div>
  <div class="col-3">
    <input
      type="number"
      class="form-control"
      placeholder="Hours"
      (input)="getHours($event)"
    />
  </div>
  <div class="col-3">
    <input
      type="number"
      class="form-control"
      placeholder="Minutes"
      (input)="getMinutes($event)"
    />
  </div>
  <div class="col-3">
    <button class="btn btn-primary" type="button" (click)="addUser()">
      Add
    </button>
  </div>
</form>
