<div class="container">
  <div class="row">
    <div class="col-12">
      <amb-add-alarm (onAddAlarm)="addAlarm($event)"></amb-add-alarm>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <amb-list-alarm [listAlarms]="listAlarms"></amb-list-alarm>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>User: {{ name }}</h1>
      <h2>Age: {{ age }}</h2>
    </div>
    <form>
      <input type="text" placeholder="Name" (input)="getUserName($event)" />
      <br />
      <input type="number" placeholder="Age" (input)="getUserAge($event)" />
      <br />
      <button class="btn btn-primary" (click)="addUser()" type="button">
        Add user
      </button>
    </form>
    <p>UserName: {{ userName }}</p>

    <table class="table table-striped">
      <tbody>
        <tr *ngFor="let user of listUsers">
          <td>
            <amb-user
              [name]="user.name"
              [age]="user.age"
              (dataUser)="info($event)"
            ></amb-user>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
