<amb-title title="{{ title }}" [iconName]="iconName">
  <button
    mat-raised-button
    color="primary"
    (click)="openForm()"
    *rolesAllowed="'MEDIC,ADMIN'"
  >
    <mat-icon>add</mat-icon>
    <span>ADD MEDIC</span>
  </button>
  <comp-button></comp-button>
</amb-title>

<amb-container>
  <perfect-scrollbar class="heightMaxPerfectScrollBar">
    <comp-table [metaData]="metaData" [dataSource]="dataSource">
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" class="align-right">
          <button
            mat-icon-button
            color="primary"
            matTooltip="EDIT"
            (click)="openForm(row)"
            *rolesAllowed="'MEDIC,ADMIN'"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="accent"
            matTooltip="DELETE"
            (click)="delete(row.id, row.nombre + ' ' + row.apellido)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    </comp-table>
  </perfect-scrollbar>
  <div fxLayout fxLayoutAlign="space-between center" class="footer">
    <button mat-icon-button color="warn" (click)="showOptionsExport()">
      <mat-icon>download_for_offline</mat-icon>
      Exportar data
    </button>
    <amb-paginator
      [length]="totalRecords"
      [pageSize]="pageSize"
      [pageIndex]="0"
      (onChangePage)="changePage($event)"
    ></amb-paginator>
  </div>
</amb-container>
