.modal-driver {
  width: 500px;
}

.modal-driver [mat-dialog-content] {
  padding: 24px;
  margin: 0;
}

.modal-driver mat-dialog-container {
  padding: 0;
}

@media screen and (max-width: 500px) {
  .modal-driver {
    width: 400px;
  }
}
