mat-toolbar {
  background-color: white;
  border-bottom: 2px solid #6b6b6b2b;
  /*   display: flex;
  justify-content: space-between; */
}

.profile {
  height: 100%;
}

.profile img {
  width: 100%;
  max-width: 40px;
  margin-right: 10px;
}
